<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udhta_enl_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
<!--        <activity-->
<!--            android:name=".HocTap.TVCDLoaihoaActivity.TestCDLoaihoa.CauhoiCDLHActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Kiemtra.DSDiemKTActivity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT3.KetthucBai3Activity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT3.Bai3Activity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT2.KetthucBai2Activity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT2.Bai2Activity"
            android:exported="false" />
        <activity
            android:name=".TuDienTA.Language_Translate_Activity"
            android:exported="false" /> <!-- <activity android:name=".TuDienTA.Translate.TranslateActivity" -->
        <!-- android:exported="false"/> -->
        <activity
            android:name=".HocTap.CDMonhoc.TestCDMonHoc.WonCDMHActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDMonhoc.TestCDMonHoc.CauhoiCDMHActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDDodunghoctap.TestCDddht.WonDDHTActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDDodunghoctap.TestCDddht.ChCdddhtActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDMonhoc.TvCDMonhocActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDDodunghoctap.TvCDDodunghoctapActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.TvCDRauCu.TvCDRauCuActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.TVCDLoaihoaActivity.TVCDLoaihoaActivity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT1.KetthucBai1Activity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.BaiKT1.Bai1Activity"
            android:exported="false" />
        <activity
            android:name=".Kiemtra.KiemtraActivity"
            android:exported="false" />
        <activity android:name=".HocTap.CDDongvat.CdDongVatActivity" />
        <activity
            android:name=".HocTap.CDGiadinh.TestCDGiadinh.WonActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDGiadinh.TestCDGiadinh.CauhoiCDGDActivity"
            android:exported="false" />
        <activity
            android:name=".TuDienTA.TuVungActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".TaiKhoan.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".TaiKhoan.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".TaiKhoan.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HoctapActivity"
            android:exported="false" />
        <activity
            android:name=".HocTap.CDGiadinh.CdGiadinhActivity"
            android:exported="false" />
        <activity
            android:name=".Video.PlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TaiKhoan.Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>